{% extends 'base.html' %}

{% block prev_menu %}
<li>
    <a href="{{ url_for('watcher.main_menu') }}">&lt; Back to main menu</a>
</li>
{% endblock %}

{% block title %}{% block tab_title %}Change Password{% endblock %}{% endblock %}
{% block description %}
<form method="post">
    <label for="new-password">New Password</label>
    <input type="password" name="new-password" id="new-password" required>
    <label for="confirm-new-password">Confirm New Password</label>
    <input type="password" name="confirm-new-password" id="confirm-new-password" required>
    <input type="submit" value="Change Password">
</form>
{% endblock %}