html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; }
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
form > small { margin-bottom: 0.5em; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.flex-fill { flex: 1; }
.content { padding: 0 1rem 1rem; }
.stick-right { align-self: end; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flex-reverse { flex-direction: row-reverse; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.flash.info { background: #cae6f6; border: 1px solid #377ba8; }
.flash.warning { background: #f5f6ca; border: 1px solid #a6a837; }
.flash.error { background: #f6caca; border: 1px solid #a83737; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content form div { display: flex; justify-content: space-between; }
/* .content label { font-weight: bold; margin-bottom: 0.5em; } */
.content label { margin-bottom: 0.5em; }
.content input, .content textarea, .content select, .content fieldset { margin-bottom: 1.5em; }
.content textarea, textarea { min-width: 30em;; min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit], button[type=submit] { align-self: start; min-width: 10em; padding: 0.2em 0.4em; }
#novnc-container { width: 60%;  aspect-ratio: 9 / 16; min-width: 320px; max-width: 240px; border: 1px solid black; overflow: hidden; margin: auto; }
.dt-container > div { margin: 20px auto; }
.dt-scroll-body { max-height: 500px; }
#vm-details td { padding: 5px 5px; }