{% extends 'base.html' %}

{% block title %}{% block tab_title %}Welcome!{% endblock %}{% endblock %}
{% block description %}<p class="body">This is Watcher Web Management, part of Watcher Android Dynamic Analysis toolset. This website provide an interface to interact with an Android emulator VM, starting from creation to uploading an app and runs it to get a log of the app's activity. Currently Watcher only supports Proxmox for VM management, kindly make sure that the Proxmox VE and the VM network configuration allows and available to connect to from this website.</p>{% endblock %}
